.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes borderr {
  0% {
    width: 0;
    transform: scaleX(1); }
  100% {
    width: 100%;
    transform: scaleX(1); } }

@keyframes sticky {
  0% {
    opacity: 0.3;
    transform: translateY(120%); }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes goaway {
  0% {
    opacity: 1; }
  99% {
    transform: translateY(-150%); }
  100% {
    visibility: hidden;
    display: none; } }

@keyframes opacity {
  0% {
    background-color: #fff; }
  100% {
    background-color: #d6b39f; } }

@font-face {
  font-family: 'montserrat';
  src: url("/css/fonts/Montserrat-Regular.eot");
  /* IE9 Compat Modes */
  src: url("/css/fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/css/fonts/Montserrat-Regular.woff2") format("woff2"), url("/css/fonts/Montserrat-Regular.woff") format("woff"), url("/css/fonts/Montserrat-Regular.ttf") format("truetype"), url("/css/fonts/Montserrat-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'montserrat';
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

.container {
  max-width: auto;
  margin: 0 auto;
  background-color: #d6b39f;
  display: flex;
  flex-direction: column; }

.header {
  display: flex;
  width: auto;
  align-self: center; }
  @media only screen and (max-width: 48em) {
    .header {
      padding-top: 5rem; } }
  .header__title-logo {
    flex: 0 0 100%;
    margin: 4rem auto 7rem auto; }
    @media only screen and (max-width: 75em) {
      .header__title-logo {
        margin-bottom: 0; } }

@media only screen and (max-width: 75em) {
  .content {
    padding: 0 10rem; } }

@media only screen and (max-width: 48em) {
  .content {
    padding: 0; } }

.first-section {
  width: auto;
  background-color: #fff;
  display: flex;
  padding: 0 25rem 7rem 25rem;
  border-bottom: 0.1rem solid #00214a;
  background-color: #d6b39f; }
  @media only screen and (max-width: 48em) {
    .first-section {
      padding-top: 3rem; } }
  @media only screen and (max-width: 93.75em) {
    .first-section {
      padding: 0 10rem 7rem 10rem; } }
  @media only screen and (max-width: 93.75em) {
    .first-section {
      padding: 0 5rem 7rem 5rem; } }
  @media only screen and (max-width: 75em) {
    .first-section {
      flex-direction: column;
      padding: 4rem 0 5rem 0;
      border-bottom: none; } }

.slider {
  display: flex;
  flex-direction: column;
  position: relative; }
  @media only screen and (max-width: 75em) {
    .slider {
      padding: 0 5rem; } }

.product-form {
  margin-left: auto;
  flex: 0 0 33.333333%;
  display: flex;
  flex-direction: column; }

.upload {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }
  @media only screen and (max-width: 48em) {
    .upload {
      justify-content: flex-start; } }
  @media only screen and (max-width: 48em) {
    .upload button {
      flex-basis: 30%;
      padding: 1rem; } }
  @media only screen and (max-width: 48em) {
    .upload p {
      font-size: 1.4rem; } }

.get-quote {
  background-color: #fff;
  border-bottom: 0.3rem solid #00214a;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999999;
  overflow: hidden;
  height: 10rem; }
  @media only screen and (max-width: 75em) {
    .get-quote {
      border-top: 0.1rem solid #00214a;
      display: flex;
      flex-direction: column;
      padding: 0 10rem;
      height: auto; } }
  @media only screen and (max-width: 48em) {
    .get-quote {
      padding: 0 1.5rem; } }
  .get-quote div {
    display: flex;
    height: 10rem;
    align-items: center;
    padding: 2rem 20rem 2rem 20rem; }
    @media only screen and (max-width: 75em) {
      .get-quote div {
        flex-direction: column;
        padding: 0;
        width: 100%;
        margin: 2rem 0; } }
  .get-quote p {
    margin-left: auto;
    color: #00214a;
    font-style: italic;
    text-align: right;
    font-size: 1.3rem;
    font-weight: bold; }
    @media only screen and (max-width: 75em) {
      .get-quote p {
        order: 1;
        text-align: center;
        margin-left: 0; } }
  .get-quote__required {
    margin-right: 3rem; }
    @media only screen and (max-width: 75em) {
      .get-quote__required {
        display: none; } }
  .get-quote__required2 {
    display: none; }
    @media only screen and (max-width: 75em) {
      .get-quote__required2 {
        display: block; } }
  .get-quote h3 {
    opacity: 0; }
    @media only screen and (max-width: 75em) {
      .get-quote h3 {
        display: none; } }
  @media only screen and (max-width: 75em) {
    .get-quote button {
      width: 100%;
      margin: 0;
      margin-bottom: 1rem;
      flex: 1 1 100%; } }

@media only screen and (max-width: 75em) {
  #getget2 {
    display: none; } }

.get-quote-alt {
  background: 100%;
  height: 10rem;
  transform: translateY(-100%);
  transition: all 0.4s;
  background-color: #d6b39f;
  z-index: 999; }
  .get-quote-alt p {
    visibility: hidden; }
  .get-quote-alt h3 {
    opacity: 1;
    color: #fff;
    font-weight: 600;
    font-size: 1.8rem; }
  .get-quote-alt div {
    padding: 2rem 20rem 2rem 20rem;
    background-color: #d6b39f; }
  .get-quote-alt button {
    margin-bottom: 0; }

.get-quote-alt2 {
  transform: translateY(0); }

.second-section {
  padding: 7rem 20rem 7rem 20rem;
  background-color: #fff;
  border-bottom: 0.3rem solid #00214a; }
  @media only screen and (max-width: 75em) {
    .second-section {
      padding: 5rem 10rem; } }
  @media only screen and (max-width: 48em) {
    .second-section {
      padding: 5rem 0; } }

.fd {
  display: flex;
  border-bottom: 0.3rem solid #00214a;
  justify-content: space-between; }
  @media only screen and (max-width: 48em) {
    .fd {
      flex-direction: column;
      padding: 0 5.5rem;
      border-bottom: none; } }

.features {
  display: flex;
  flex: 0 0 50%;
  flex-direction: column; }
  .features__title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #b2babf;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 75em) {
      .features__title {
        margin-bottom: 3rem; } }
  @media only screen and (max-width: 75em) {
    .features {
      flex: 50%; } }
  @media only screen and (max-width: 48em) {
    .features {
      order: 2; } }

.details {
  flex: 0 0 50%; }
  @media only screen and (max-width: 75em) {
    .details {
      flex: 50%;
      margin-left: 3rem; } }
  @media only screen and (max-width: 48em) {
    .details {
      order: 1;
      margin-left: 0; } }
  .details__title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #b2babf;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 75em) {
      .details__title {
        margin-bottom: 3rem; } }

.icons {
  display: flex;
  justify-content: space-around;
  margin-right: 25rem;
  padding: 2rem 0;
  border-bottom: 0.3rem solid #00214a; }
  @media only screen and (max-width: 75em) {
    .icons {
      display: none; } }
  .icons__box {
    flex: 0 0 33.33333%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .icons__box--icon {
      width: 25%;
      margin-bottom: 1rem; }
    .icons__box--text {
      text-align: center;
      padding: 0 4.5rem;
      color: #00214a;
      font-weight: 600; }

.iconsmob {
  display: none;
  justify-content: space-around;
  margin-right: 25rem;
  padding: 2rem 0;
  border-bottom: 0.3rem solid #00214a; }
  @media only screen and (max-width: 75em) {
    .iconsmob {
      display: flex;
      margin-right: 0;
      padding: 1rem 5rem; } }
  @media only screen and (max-width: 48em) {
    .iconsmob {
      margin: 0 1.5rem;
      border-top: 0.3rem solid #00214a;
      padding: 2rem 0; } }
  .iconsmob__box {
    flex: 0 0 33.33333%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .iconsmob__box {
        padding: 0 2rem; } }
    @media only screen and (max-width: 48em) {
      .iconsmob__box {
        padding: 0 1rem; } }
    .iconsmob__box--icon {
      width: 25%;
      margin-bottom: 1rem; }
    .iconsmob__box--text {
      text-align: center;
      padding: 0 4.5rem;
      color: #00214a;
      font-weight: 600; }
      @media only screen and (max-width: 48em) {
        .iconsmob__box--text {
          padding: 0 3rem; } }

.for {
  display: flex;
  border-bottom: 0.3rem solid #00214a;
  padding: 4rem 4rem 5rem 0;
  justify-content: space-between; }
  @media only screen and (max-width: 48em) {
    .for {
      padding: 5rem 0;
      flex-direction: column;
      margin: 0 1.5rem; } }
  .for__box {
    display: flex;
    flex: 0 0 33.3333%;
    padding: 1.5rem; }
    @media only screen and (max-width: 75em) {
      .for__box {
        flex-direction: column; } }
    @media only screen and (max-width: 48em) {
      .for__box {
        flex-direction: row;
        padding: 0; } }
    .for__box:not(:last-child) {
      border-right: 3px solid rgba(178, 186, 191, 0.2); }
      @media only screen and (max-width: 48em) {
        .for__box:not(:last-child) {
          border-right: none;
          border-bottom: 3px solid rgba(178, 186, 191, 0.2);
          padding-bottom: 2rem; } }
    @media only screen and (max-width: 48em) {
      .for__box:not(:first-child) {
        margin-top: 2rem; } }

.faqs {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  transition: all 0.2s; }
  @media only screen and (max-width: 48em) {
    .faqs {
      margin-top: 5rem; } }
  .faqs__title {
    align-self: center; }
    .faqs__title--name {
      text-transform: uppercase;
      color: #00214a;
      font-size: 3.2rem;
      font-weight: 700; }
  .faqs__content {
    margin-top: 2rem;
    display: flex; }
    @media only screen and (max-width: 75em) {
      .faqs__content {
        margin-top: 4rem; } }
    @media only screen and (max-width: 48em) {
      .faqs__content {
        display: none; } }
  .faqs__contentmob {
    display: none; }
    @media only screen and (max-width: 48em) {
      .faqs__contentmob {
        display: flex;
        flex-direction: column; } }
    @media only screen and (max-width: 48em) {
      .faqs__contentmob--title {
        text-transform: uppercase;
        color: rgba(178, 186, 191, 0.8);
        font-size: 2.2rem;
        font-weight: 700;
        text-align: center;
        padding: 4rem 0; } }
  .faqs__buttons {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1 1 33.333333%; }
  .faqs__description {
    flex: 1 1 66.666667%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-left: 0.3rem solid #00214a;
    padding-left: 10rem; }

.third-section {
  display: flex;
  flex-direction: column; }

.customers {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4rem 20rem 4rem 20rem;
  background-color: #eff3f5;
  border-bottom: 0.3rem solid #00214a; }
  @media only screen and (max-width: 48em) {
    .customers {
      padding: 3rem 1.5rem; } }
  .customers__title {
    align-self: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: #b2babf;
    margin-bottom: 4rem;
    margin-bottom: 3rem;
    align-content: center; }
    @media only screen and (max-width: 48em) {
      .customers__title {
        width: 20rem;
        text-align: center;
        letter-spacing: 0.2rem; } }
  .customers__logo {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .customers__logo--box {
      flex: 0 0 10%; }
      @media only screen and (max-width: 75em) {
        .customers__logo--box {
          flex: 1 1 100%; } }
      @media only screen and (max-width: 48em) {
        .customers__logo--box {
          width: 20rem;
          flex-wrap: wrap; } }
    .customers__logo--box img {
      width: 100%; }

.happiness {
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid #fff; }
  @media only screen and (max-width: 75em) {
    .happiness {
      padding: 5rem 0; } }
  .happiness__logo {
    border: 3px solid #fff;
    border-radius: 50%;
    display: flex;
    height: auto;
    padding: 1.5rem;
    width: 7%; }
    @media only screen and (max-width: 48em) {
      .happiness__logo {
        width: 20%; } }
    .happiness__logo--icon {
      width: 100%;
      height: 100%; }
  .happiness__description {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 48em) {
      .happiness__description {
        display: none; } }
    @media only screen and (max-width: 48em) {
      .happiness__description {
        padding-top: 3rem; } }
    .happiness__description h3 {
      color: #fff;
      margin-bottom: 2rem;
      font-size: 1.8rem;
      font-weight: 700;
      letter-spacing: 0.5rem; }
      @media only screen and (max-width: 48em) {
        .happiness__description h3 {
          text-align: center;
          width: 20rem; } }
    .happiness__description p {
      color: #fff;
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
      text-align: center; }
  .happiness__descriptionmob {
    display: none; }
    @media only screen and (max-width: 48em) {
      .happiness__descriptionmob {
        display: flex;
        padding-top: 3rem;
        flex-direction: column;
        align-items: center; }
        .happiness__descriptionmob h3 {
          color: #fff;
          margin-bottom: 2rem;
          font-size: 1.8rem;
          font-weight: 700;
          letter-spacing: 0.5rem; } }
    @media only screen and (max-width: 48em) and (max-width: 48em) {
      .happiness__descriptionmob h3 {
        text-align: center;
        width: 20rem; } }
    @media only screen and (max-width: 48em) {
        .happiness__descriptionmob p {
          color: #fff;
          font-size: 1.4rem;
          letter-spacing: 0.1rem;
          text-align: center; } }
    @media only screen and (max-width: 48em) and (max-width: 48em) {
      .happiness__descriptionmob p {
        width: 30rem; } }

.sign-up {
  padding: 4rem 20rem 4rem 20rem;
  display: flex;
  justify-content: space-between;
  background-color: #00214a; }
  @media only screen and (max-width: 75em) {
    .sign-up {
      flex-direction: column;
      align-items: center;
      justify-content: space-between; } }
  @media only screen and (max-width: 48em) {
    .sign-up {
      padding: 3rem 0; } }
  .sign-up__form {
    flex: 0 0 55%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .sign-up__form {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem; } }
    .sign-up__form input {
      background-color: #00214a;
      border: 3px solid #fff;
      border-radius: 1rem;
      flex: 0 1 60%;
      padding: 2rem;
      font-size: 1.4rem;
      outline: none; }
      @media only screen and (max-width: 75em) {
        .sign-up__form input {
          margin-bottom: 2rem;
          font-weight: 600;
          width: 30rem; } }
      .sign-up__form input::placeholder {
        color: #fff; }
    .sign-up__form button {
      flex: 0 0 35%; }
  .sign-up__legal {
    display: flex;
    flex: 0 0 45%;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.4rem; }
    .sign-up__legal a:link,
    .sign-up__legal a:visited {
      color: #fff;
      text-decoration: none; }
    .sign-up__legal p {
      color: #fff;
      margin-right: 2rem; }

.whiteborder {
  display: block;
  height: 6rem;
  width: 100%;
  background-color: #fff; }

/* Slideshow container */
.slideshow-container {
  max-width: auto;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  margin-right: 2rem; }
  .slideshow-container__prev, .slideshow-container__next {
    cursor: pointer;
    width: auto;
    margin-top: -2.2rem;
    padding: 1.6rem;
    color: #fff;
    font-size: 3.8rem;
    transition: 0.6s ease;
    border-radius: 10px;
    user-select: none; }
    @media only screen and (max-width: 75em) {
      .slideshow-container__prev, .slideshow-container__next {
        display: none; } }
  .slideshow-container__prev:hover, .slideshow-container__next:hover {
    background-color: rgba(179, 141, 120, 0.8);
    border-radius: 3px; }
  .slideshow-container__mySlides {
    display: none;
    margin: 0 2rem 7rem 2rem; }
    @media only screen and (max-width: 75em) {
      .slideshow-container__mySlides {
        margin-bottom: 2rem; } }
  .slideshow-container__dot {
    cursor: pointer;
    height: 1.1rem;
    width: 1.1rem;
    margin: 0 0.5rem;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.2s; }
    @media only screen and (max-width: 75em) {
      .slideshow-container__dot {
        margin-bottom: 4rem; } }
    .slideshow-container__dot:hover {
      transform: scale(1.2); }
    .slideshow-container__dot:active {
      transform: scale(1); }
    .slideshow-container__dot::after {
      content: "";
      display: block;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      border: 1.5px solid #fff;
      transform: translate(-22%, -22%);
      opacity: 0;
      transition: all 0.2s; }
    .slideshow-container__dot.active::after {
      opacity: 1; }
  .slideshow-container__dot-container {
    padding-left: 4rem; }
    @media only screen and (max-width: 75em) {
      .slideshow-container__dot-container {
        padding-left: 0; } }
  .slideshow-container__image {
    height: auto;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 3rem 10rem #b38d78; }

.active {
  background-color: #fff; }

.get-free {
  height: 10rem;
  width: 47rem;
  background-color: #3a76fe;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  position: absolute;
  top: 25rem;
  left: 0;
  display: flex;
  align-items: center;
  border-radius: 0 100px 100px 0;
  z-index: 999; }
  @media only screen and (max-width: 75em) {
    .get-free {
      width: 30rem;
      top: 16rem;
      height: 8rem; } }
  @media only screen and (max-width: 48em) {
    .get-free {
      display: block;
      position: absolute;
      width: 100%;
      top: 0;
      border-radius: 0;
      height: 6rem; } }
  .get-free__box {
    padding-right: 9rem;
    margin-left: auto; }
    @media only screen and (max-width: 75em) {
      .get-free__box {
        margin-right: auto; } }
    @media only screen and (max-width: 48em) {
      .get-free__box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        height: 100%; } }
  .get-free__text {
    color: #fff;
    text-align: left;
    display: block; }

@media only screen and (max-width: 48em) {
  .product {
    padding: 0 5rem; } }

.product__name {
  margin-bottom: 2rem; }

.product__name-text {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.4rem; }
  @media only screen and (max-width: 75em) {
    .product__name-text {
      border-bottom: 0.2rem solid #fff;
      margin-bottom: 0;
      padding-bottom: 2rem;
      font-weight: 900;
      font-size: 3.6rem; } }

.product__description {
  padding: 0 3rem;
  padding-bottom: 3rem;
  border-bottom: 0.2rem solid #fff; }
  @media only screen and (max-width: 75em) {
    .product__description {
      display: none; } }

.product__description-text {
  color: #fff;
  text-align: center;
  font-size: 1.35rem; }

.prices {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  border-bottom: 0.2rem solid #fff;
  line-height: 1; }
  @media only screen and (max-width: 75em) {
    .prices {
      padding-top: 0; } }
  @media only screen and (max-width: 48em) {
    .prices {
      padding-bottom: 2rem;
      margin: 0 5rem; } }

.paragraph {
  text-align: center; }
  .paragraph__text {
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 1rem; }
  .paragraph__price {
    font-size: 2rem;
    font-weight: 700;
    color: #fff; }

.form {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 2rem;
  justify-content: space-between;
  position: relative; }
  @media only screen and (max-width: 75em) {
    .form {
      padding-top: 2rem; } }
  @media only screen and (max-width: 48em) {
    .form {
      padding: 0 1.5rem;
      margin-top: 3rem; } }
  .form__group {
    margin-bottom: 2rem;
    display: flex;
    flex: 0 0 48%;
    outline: hidden;
    border-radius: 1rem;
    border: 0.2rem solid #fff;
    height: auto; }
  .form__group-note {
    border-radius: 1rem;
    border: 0.2rem solid #fff;
    flex: 0 0 100%;
    height: 8rem; }
    @media only screen and (max-width: 48em) {
      .form__group-note {
        flex: 1; } }
  .form__input {
    background-color: #d6b39f;
    border: none;
    border-radius: 1rem;
    position: relative;
    width: auto;
    margin: 0.5rem 0 0.5rem 1rem;
    height: 3.5rem; }
    @media only screen and (max-width: 48em) {
      .form__input {
        width: 15rem;
        padding: 1rem; } }
    .form__input::placeholder {
      vertical-align: middle;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 600; }
      @media only screen and (max-width: 48em) {
        .form__input::placeholder {
          font-size: 1.8rem; } }
    .form__input:focus {
      outline: none; }
    .form__input:focus::placeholder {
      color: transparent; }
  .form__label {
    display: block;
    position: absolute;
    transform: translate(25%, -140%);
    opacity: 0;
    color: #fff;
    font-size: 1.2rem;
    transition: all 0.2s;
    font-weight: 600; }
  .form__label-note {
    display: block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    color: #fff; }
  .form__input:focus ~ .form__label {
    opacity: 1;
    transform: scale(1) translate(25%, -120%); }
    @media only screen and (max-width: 48em) {
      .form__input:focus ~ .form__label {
        transform: scale(1) translate(25%, -100%); } }

.btn {
  flex: 0 0 50%; }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 16px;
    border: none;
    cursor: pointer; }
  .btn--white {
    background-color: #fff;
    color: #d6b39f;
    font-weight: 800;
    outline: none; }
    .btn--white:hover {
      opacity: 0.8; }
  .btn--whiteblue {
    background-color: #fff;
    color: #00214a;
    font-weight: 800;
    outline: none; }
  .btn--blue {
    height: 5rem;
    background-color: #3a76fe;
    color: white;
    font-size: 2rem;
    font-weight: 800;
    flex: 0 0 30%;
    outline: none;
    margin-left: 3rem; }
    .btn--blue:hover {
      background-color: #216ac4; }
  .btn--bluewhite {
    border: 3px solid #3a76fe;
    background-color: #fff;
    font-weight: 900;
    color: #3a76fe;
    outline: none;
    padding: 0.8rem 1.5rem; }
    .btn--bluewhite:hover {
      color: #fff;
      background-color: #3a76fe; }
  .btn--tab {
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: #b2babf;
    margin-bottom: 4rem;
    margin-bottom: 0;
    margin-right: auto;
    padding: 1.5rem 0;
    outline: none;
    text-align: left;
    position: relative; }
    .btn--tab::before {
      content: "";
      display: block;
      background-color: #216ac4;
      position: absolute;
      top: 4.5rem;
      left: 0;
      width: 100%;
      height: 0.3rem;
      z-index: 99;
      transform: scaleX(0);
      transition: all 0.2s; }
    .btn--tab.active::before {
      transform: scaleX(1);
      width: 100%; }
  .btn--tab:hover::before {
    animation: borderr 1s ease forwards; }
  .btn__description {
    flex: 0 0 50%;
    color: #fff;
    text-align: right;
    font-size: 1.2rem;
    font-style: italic; }
    @media only screen and (max-width: 75em) {
      .btn__description {
        text-align: left;
        padding-left: 2rem; } }

.features__list {
  display: flex;
  flex-direction: column;
  margin-right: 25rem;
  padding-bottom: 4rem;
  border-bottom: 0.3rem solid #00214a; }
  @media only screen and (max-width: 75em) {
    .features__list {
      margin-right: 0;
      padding-right: 7rem;
      border-bottom: none; } }

.features__box:not(:last-child) {
  margin-bottom: 3rem; }

.features__header {
  color: #00214a;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600; }

.features__description {
  color: #00214a;
  font-size: 1.4rem;
  font-weight: 400; }

.gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem; }
  @media only screen and (max-width: 75em) {
    .gallery {
      flex-direction: column;
      margin-left: auto; } }
  .gallery__container {
    display: block;
    flex: 0 0 80%;
    margin-right: 2rem; }
    @media only screen and (max-width: 75em) {
      .gallery__container {
        margin-right: 0;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 75em) {
      .gallery__container {
        margin-bottom: 1rem; } }
    .gallery__container img {
      width: 100%; }
      @media only screen and (max-width: 75em) {
        .gallery__container img {
          width: 80%;
          height: auto; } }
  .gallery__preview {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%; }
    @media only screen and (max-width: 75em) {
      .gallery__preview {
        flex-direction: row; } }
    .gallery__preview--item {
      margin-bottom: 1rem;
      width: 13rem;
      height: 7rem;
      overflow: hidden; }
      @media only screen and (max-width: 75em) {
        .gallery__preview--item {
          width: 9rem;
          height: 4.5rem;
          margin-right: 1rem;
          margin-bottom: 0; } }
      @media only screen and (max-width: 48em) {
        .gallery__preview--item {
          width: 7.5rem;
          height: 3.525rem; } }
    .gallery__preview--item img {
      opacity: 0.8;
      width: 150%;
      transform: translate(-20%, -20%); }
      .gallery__preview--item img:hover {
        opacity: 1; }

.image {
  width: 100%; }
  .image__details {
    padding: 2rem 0; }
  .image__title {
    color: #00214a;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem; }
  .image__description {
    color: #00214a;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 2rem; }

.image img {
  width: 100%; }

.panel {
  padding: 0 18px;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 1.4rem;
  color: #216ac4; }

.accordion {
  position: relative; }
  @media only screen and (max-width: 48em) {
    .accordion {
      padding-left: 10rem; } }
  .accordion__box:not(:last-child) {
    margin-bottom: 4rem; }
    @media only screen and (max-width: 48em) {
      .accordion__box:not(:last-child) {
        margin-bottom: 3rem; } }
  .accordion__box {
    position: relative;
    display: flex;
    flex-direction: column; }
  .accordion__box article {
    transition: all 0.8s;
    margin-right: 30rem; }
    @media only screen and (max-width: 75em) {
      .accordion__box article {
        margin-right: 0;
        padding-right: 7rem; } }
  .accordion__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    position: absolute; }
  .accordion__icon {
    margin-top: 3.5rem; }
    .accordion__icon {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      border: 3px solid #3a76fe;
      display: inline-block;
      transition: all 0.2s;
      position: absolute;
      left: -5.5rem;
      top: -4.5rem; }
    .accordion__icon::before, .accordion__icon::after {
      content: "";
      display: inline-block;
      height: 0.3rem;
      width: 2.5rem;
      background-color: #3a76fe;
      opacity: 0;
      transition: all 0.25s; }
    .accordion__icon::before {
      top: 1.5rem;
      left: 0.5rem;
      position: absolute;
      outline: none;
      opacity: 1;
      border-radius: 30%; }
    .accordion__icon::after {
      transform: rotate(90deg);
      top: 1.5rem;
      left: 0.5rem;
      position: absolute;
      opacity: 1;
      border-radius: 30%; }
  .accordion__checkbox:checked + .accordion__button .accordion__icon::after {
    opacity: 0;
    transform: rotate(180deg); }
  .accordion__checkbox:checked + .accordion__button .accordion__icon::before {
    transform: rotate(-180deg); }

.accordion input {
  display: none; }

.accordion label {
  background: #fff;
  color: #00214a;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  display: block;
  margin-bottom: 2rem;
  z-index: 20;
  outline: none; }
  @media only screen and (max-width: 48em) {
    .accordion label {
      font-size: 1.8rem; } }

.accordion label:hover {
  background: #fff; }

.accordion input:checked + label {
  color: #00214a; }

.accordion article {
  background: #fff;
  height: 0px;
  overflow: hidden;
  z-index: 10;
  opacity: 0; }

.accordion article p {
  color: #00214a;
  font-size: 1.4rem; }
  @media only screen and (max-width: 48em) {
    .accordion article p {
      width: 32rem;
      font-size: 1.8rem; } }

.accordion input:checked ~ article {
  height: auto;
  z-index: 99;
  opacity: 1; }

.dropdown {
  margin-bottom: 2rem;
  display: flex;
  flex: 0 0 48%;
  outline: hidden;
  border-radius: 1rem;
  border: 0.2rem solid #fff;
  height: auto;
  background-color: #d6b39f;
  height: auto;
  outline: none;
  height: 4rem;
  color: #fff;
  font-weight: 600; }
  .dropdown__option {
    border-color: #fff;
    outline: none; }
