@font-face {
  font-family: 'montserrat';
  src: url('/css/fonts/Montserrat-Regular.eot'); /* IE9 Compat Modes */
  src: url('/css/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/css/fonts/Montserrat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/css/fonts/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/css/fonts/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/css/fonts/Montserrat-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}


* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px;

  @include respond(phone) { // width 375 
    font-size: 37.5%; //1 rem = 6px, 6/16 = 37.5%
  }

  @include respond(tab-port) { // width < 1200
      font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
}

body {
  font-family: 'montserrat';
  font-weight: 400;
  line-height: 1.6;
 //color: var(--color-grey-dark-2);
 // background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  //background-size: cover;
//  background-repeat: no-repeat;


  min-height: 100vh;
}