/* Slideshow container */
.slideshow-container {
  max-width: auto;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  margin-right: 2rem;

  &__prev,
  &__next {
    cursor: pointer;
    width: auto;
    margin-top: -2.2rem;
    padding: 1.6rem;
    color: $color-white;
    font-size: 3.8rem;
    transition: 0.6s ease;
    border-radius: 10px;
    user-select: none;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__prev:hover,
  &__next:hover {
    background-color: rgba($shadow-color, 0.8);
    border-radius: 3px;
  }

  &__mySlides {
    display: none;
    margin: 0 $smaller $big $smaller;

    @include respond(tab-port) {
      margin-bottom: $smaller;
    }
  }

  &__dot {
    cursor: pointer;
    height: 1.1rem;
    width: 1.1rem;
    margin: 0 0.5rem;
    background-color: $color-white;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.2s;

    @include respond(tab-port) {
      margin-bottom: $medium;
    }

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(1);
    }

    &::after {
      content: "";
      display: block;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      border: 1.5px solid $color-white;
      transform: translate(-22%, -22%);
      opacity: 0;
      transition: all 0.2s;
    }

    &.active {
      &::after {
        opacity: 1;
      }
    }
  }

  &__dot-container {
    padding-left: $medium;

    @include respond(tab-port) {
      padding-left: 0;
    }
  }

  &__image {
    height: auto;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 3rem 10rem $shadow-color;
  }
}
.active {
  background-color: $color-white;
}

///////////////////////////////////////////////
///////// GET FREE

.get-free {
  height: 10rem;
  width: 47rem;
  background-color: $color-blue;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  position: absolute;
  top: 25rem;
  left: 0;
  display: flex;
  align-items: center;
  border-radius: 0 100px 100px 0;
  z-index: 999;

  @include respond(tab-port) {
    width: 30rem;
    top: 16rem;
    height: 8rem;
  }

  @include respond(phone) {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    border-radius: 0;
    height: 6rem;
  }

  &__box {
    padding-right: 9rem;
    margin-left: auto;

    @include respond(tab-port) {
      margin-right: auto;
    }

    @include respond(phone) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 0;
      height: 100%;
    }
  }

  &__text {
    color: $color-white;
    text-align: left;
    display: block;
  }
}

////////////////////////////////////////////
////////////// FORM

.product {
  @include respond(phone) {
    padding: 0 5rem;
  }

  &__name {
    margin-bottom: $smaller;
  }

  &__name-text {
    color: $color-white;
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.4rem;

    @include respond(tab-port) {
      border-bottom: $border-white;
      margin-bottom: 0;
      padding-bottom: $smaller;
      font-weight: 900;
      font-size: 3.6rem;
    }
  }

  &__description {
    padding: 0 3rem;
    padding-bottom: $small;
    border-bottom: $border-white;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__description-text {
    color: $color-white;
    text-align: center;
    font-size: 1.35rem;
  }
}

.prices {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: $smaller;
  border-bottom: $border-white;
  line-height: 1;

  @include respond(tab-port) {
    padding-top: 0;
  }

  @include respond(phone) {
    padding-bottom: $smaller;
    margin: 0 5rem;
  }
}

.paragraph {
  text-align: center;

  &__text {
    color: $color-white;
    font-size: 1.3rem;
    margin-bottom: $smallest;
  }

  &__price {
    font-size: 2rem;
    font-weight: 700;
    color: $color-white;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  padding-top: $small;
  padding-bottom: $smaller;
  justify-content: space-between;
  position: relative;

  @include respond(tab-port) {
    padding-top: $smaller;
  }

  @include respond(phone) {
    padding: 0 1.5rem;
    margin-top: $small;
  }

  &__group {
    margin-bottom: $smaller;
    display: flex;
    flex: 0 0 48%;
    outline: hidden;
    border-radius: 1rem;
    border: $border-white;
    height: auto;
  }

  &__group-note {
    border-radius: 1rem;
    border: $border-white;
    flex: 0 0 100%;
    height: 8rem;

    @include respond(phone) {
      flex: 1;
    }
  }

  &__input {
    background-color: $color-primary;
    border: none;
    border-radius: 1rem;
    position: relative;
    width: auto;
    margin: 0.5rem 0 0.5rem 1rem;
    height: 3.5rem;

    @include respond(phone) {
      width: 15rem;
      padding: 1rem;
    }

    &::placeholder {
      vertical-align: middle;
      color: $color-white;
      font-size: 1.2rem;
      font-weight: 600;

      @include respond(phone) {
        font-size: 1.8rem;
      }
    }

    &:focus {
      outline: none;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  &__label {
    display: block;
    position: absolute;
    transform: translate(25%, -140%);
    opacity: 0;
    color: $color-white;
    font-size: 1.2rem;
    transition: all 0.2s;
    font-weight: 600;
  }

  &__label-note {
    display: block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    color: $color-white;
  }

  &__input:focus ~ &__label {
    opacity: 1;
    transform: scale(1) translate(25%, -120%);

    @include respond(phone) {
      transform: scale(1) translate(25%, -100%);
    }
  }
}

/////////////////////////////////////////
/////// BUTTONS

.btn {
  flex: 0 0 50%;

  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    //change for the <button> element
    border: none;
    cursor: pointer;
  }

  &--white {
    background-color: $color-white;
    color: $color-primary;
    font-weight: 800;
    outline: none;

    &:hover {
      opacity: 0.8;
    }
  }

  &--whiteblue {
    background-color: $color-white;
    color: $color-dark-blue;
    font-weight: 800;
    outline: none;
  }

  &--blue {
    height: 5rem;
    background-color: $color-blue;
    color: white;
    font-size: 2rem;
    font-weight: 800;
    flex: 0 0 30%;
    outline: none;
    margin-left: 3rem;

    &:hover {
      background-color: $color-dark-blue-light;
    }
  }

  &--bluewhite {
    border: 3px solid $color-blue;
    background-color: $color-white;
    font-weight: 900;
    color: $color-blue;
    outline: none;
    padding: 0.8rem 1.5rem;

    &:hover {
      color: $color-white;
      background-color: $color-blue;
    }
  }

  &--tab {
    background-color: transparent;
    border: none;
    @include accenttext;
    margin-bottom: 0;
    margin-right: auto;
    padding: 1.5rem 0;
    outline: none;
    text-align: left;
    position: relative;

    &::before {
      content: "";
      display: block;
      background-color: $color-dark-blue-light;
      position: absolute;
      top: 4.5rem;
      left: 0;
      width: 100%;
      height: 0.3rem;
      z-index: 99;
      transform: scaleX(0);
      transition: all 0.2s;
    }

    &.active {
      &::before {
        transform: scaleX(1);
        width: 100%;
      }
    }
  }

  &--tab:hover::before {
    animation: borderr 1s ease forwards;
  }

  &__description {
    flex: 0 0 50%;
    color: $color-white;
    text-align: right;
    font-size: 1.2rem;
    font-style: italic;

    @include respond(tab-port) {
      text-align: left;
      padding-left: $smaller;
    }
  }
}

///////////////////////////////////////////
//////// FEATURE AND DETAILS

.features {
  &__list {
    display: flex;
    flex-direction: column;
    margin-right: 25rem;
    padding-bottom: $medium;
    border-bottom: $border-dark-blue;

    @include respond(tab-port) {
      margin-right: 0;
      padding-right: 7rem;
      border-bottom: none;
    }
  }

  &__box {
    &:not(:last-child) {
      margin-bottom: $small;
    }
  }

  &__header {
    @include h3heading;
  }

  &__description {
    @include h3description;
  }
}

//////////////////////////////////////////////////
//////////// GALLERY

.gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: $big;

  @include respond(tab-port) {
    flex-direction: column;
    margin-left: auto;
  }

  @include respond(phone) {
    // display: none;
  }

  &__container {
    display: block;
    flex: 0 0 80%;
    margin-right: $smaller;

    @include respond(tab-port) {
      margin-right: 0;
      margin-bottom: $smaller;
    }

    @include respond(tab-port) {
      margin-bottom: $smallest;
    }

    & img {
      width: 100%;

      @include respond(tab-port) {
        width: 80%;
        height: auto;
      }
    }
  }

  &__preview {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;

    @include respond(tab-port) {
      flex-direction: row;
    }

    &--item {
      margin-bottom: $smallest;
      width: 13rem;
      height: 7rem;
      overflow: hidden;

      @include respond(tab-port) {
        width: 9rem;
        height: 4.5rem;
        margin-right: $smallest;
        margin-bottom: 0;
      }

      @include respond(phone) {
        width: 7.5rem;
        height: 3.525rem;
      }
    }

    &--item img {
      opacity: 0.8;
      width: 150%;
      transform: translate(-20%, -20%);

      &:hover {
        opacity: 1;
      }
    }
  }
}

//////////////////////////////////
///////// FOR PART

.image {
  width: 100%;

  &__details {
    padding: $smaller 0;
  }
  &__title {
    @include h3heading;
    margin-bottom: $smallest;
  }

  &__description {
    @include h3description;
    margin-bottom: $smaller;
  }
}

.image img {
  width: 100%;
}

/////////////////////////////
///// FAQ accordion

.panel {
  padding: 0 18px;
  background-color: $color-white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 1.4rem;
  color: $color-dark-blue-light;
}

/////////////////////////@
///// RADIO BUTTON ACCORDION

.accordion {
  position: relative;

  @include respond(phone) {
    padding-left: 10rem;
  }

  &__box:not(:last-child) {
    margin-bottom: $medium;

    @include respond(phone) {
      margin-bottom: $small;
    }
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__box article {
    transition: all 0.8s;
    margin-right: 30rem;

    @include respond(tab-port) {
      margin-right: 0;
      padding-right: 7rem;
    }
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    position: absolute;
  }

  &__icon {
    margin-top: 3.5rem;

    & {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      border: 3px solid $color-blue;
      display: inline-block;
      transition: all 0.2s;
      position: absolute;
      left: -5.5rem;
      top: -4.5rem;
    }

    &::before,
    &::after {
      content: "";
      display: inline-block;
      height: 0.3rem;
      width: 2.5rem;
      background-color: $color-blue;
      opacity: 0;
      transition: all 0.25s;
    }

    &::before {
      top: 1.5rem;
      left: 0.5rem;
      position: absolute;
      outline: none;
      opacity: 1;
      border-radius: 30%;
    }

    &::after {
      transform: rotate(90deg);
      top: 1.5rem;
      left: 0.5rem;
      position: absolute;
      opacity: 1;
      border-radius: 30%;
    }
  }

  &__checkbox:checked + &__button &__icon::after {
    //when the checkbox is checked, we select is sibling (brother) which is __button, after we select __button's child, which is __icon
    opacity: 0;
    transform: rotate(180deg);
  }

  &__checkbox:checked + &__button &__icon::before {
    //when the checkbox is checked, we select is sibling (brother) which is __button, after we select __button's child, which is __icon
    transform: rotate(-180deg);
  }
}

.accordion input {
  display: none;
}

.accordion label {
  background: $color-white;
  color: $color-dark-blue;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  display: block;
  margin-bottom: $smaller;
  z-index: 20;
  outline: none;

  @include respond(phone) {
    font-size: 1.8rem;
  }
}

.accordion label:hover {
  background: $color-white;
}

.accordion input:checked + label {
  color: $color-dark-blue;
}

.accordion article {
  background: $color-white;
  height: 0px;
  overflow: hidden;
  z-index: 10;
  opacity: 0;
}

.accordion article p {
  color: $color-dark-blue;
  font-size: 1.4rem;

  @include respond(phone) {
    width: 32rem;
    font-size: 1.8rem;
  }
}

.accordion input:checked ~ article {
  height: auto;
  z-index: 99;
  opacity: 1;
}

.dropdown {
  margin-bottom: $smaller;
  display: flex;
  flex: 0 0 48%;
  outline: hidden;
  border-radius: 1rem;
  border: $border-white;
  height: auto;
  background-color: $color-primary;
  height: auto;
  outline: none;
  height: 4rem;
  color: #fff;
  font-weight: 600;

  &__option {
    border-color: #fff;
    outline: none;
  }
}
