.container {
  max-width: auto;
  margin: 0 auto;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
}

//////////////////////////
////// HEADER

.header {
  display: flex;
  width: auto;
  align-self: center;

  @include respond(phone) {
    padding-top: 5rem;
  }

  &__title-logo {
    flex: 0 0 100%;
    margin: $medium auto $big auto;

    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }
}

.content {
  @include respond(tab-port) {
    padding: 0 10rem;
  }

  @include respond(phone) {
    padding: 0;
  }
}

.first-section {
  width: auto;
  background-color: $color-white;
  display: flex;
  padding: 0 25rem $big 25rem;
  border-bottom: $border-dark-blue-light;
  background-color: $color-primary;

  @include respond(phone) {
    padding-top: $small;
  }

  @media only screen and (max-width: $bp-1500) {
    padding: 0 10rem $big 10rem;
  }

  @media only screen and (max-width: $bp-1500) {
    padding: 0 5rem $big 5rem;
  }

  @include respond(tab-port) {
    flex-direction: column;
    padding: $medium 0 5rem 0;
    border-bottom: none;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  position: relative;

  @include respond(tab-port) {
    padding: 0 5rem;
  }
}

.product-form {
  margin-left: auto;
  flex: 0 0 33.333333%;
  display: flex;
  flex-direction: column;
}

.upload {
  padding-top: $smaller;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include respond(phone) {
    justify-content: flex-start;
  }

  & button {
    @include respond(phone) {
      flex-basis: 30%;
      padding: 1rem;
    }
  }

  & p {
    @include respond(phone) {
      font-size: 1.4rem;
    }
  }
}

.get-quote {
  background-color: $color-white;
  border-bottom: $border-dark-blue;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999999;
  overflow: hidden;
  height: 10rem;

  @include respond(tab-port) {
    border-top: $border-dark-blue-light;
    display: flex;
    flex-direction: column;
    padding: 0 10rem;
    height: auto;
  }

  @include respond(phone) {
    padding: 0 1.5rem;
  }

  & div {
    display: flex;
    height: 10rem;
    align-items: center;

    padding: $smaller 20rem $smaller 20rem;

    @include respond(tab-port) {
      flex-direction: column;
      padding: 0;
      width: 100%;
      margin: $smaller 0;
    }
  }

  & p {
    margin-left: auto;
    color: $color-dark-blue;
    font-style: italic;
    text-align: right;
    font-size: 1.3rem;
    font-weight: bold;

    @include respond(tab-port) {
      order: 1;
      text-align: center;
      margin-left: 0;
    }
  }

  &__required {
    margin-right: 3rem;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__required2 {
    display: none;

    @include respond(tab-port) {
      display: block;
    }
  }

  & h3 {
    opacity: 0;

    @include respond(tab-port) {
      display: none;
    }
  }

  & button {
    @include respond(tab-port) {
      width: 100%;
      margin: 0;
      margin-bottom: $smallest;
      flex: 1 1 100%;
    }
  }
}

#getget2 {
  @include respond(tab-port) {
    display: none;
  }
}

.get-quote-alt {
  background: 100%;
  height: 10rem;
  transform: translateY(-100%);
  transition: all 0.4s;
  background-color: $color-primary;
  z-index: 999;

  & p {
    visibility: hidden;
  }

  & h3 {
    opacity: 1;
    color: $color-white;
    font-weight: 600;
    font-size: 1.8rem;
  }

  & div {
    padding: $smaller 20rem $smaller 20rem;
    background-color: $color-primary;
  }

  & button {
    margin-bottom: 0;
  }
}

.get-quote-alt2 {
  transform: translateY(0);
}

.second-section {
  padding: $big 20rem $big 20rem;
  background-color: $color-white;
  border-bottom: $border-dark-blue;

  @include respond(tab-port) {
    padding: $fifty 10rem;
  }

  @include respond(phone) {
    padding: $fifty 0;
  }
}

.fd {
  display: flex;
  border-bottom: $border-dark-blue;
  justify-content: space-between;

  @include respond(phone) {
    flex-direction: column;
    padding: 0 5.5rem;
    border-bottom: none;
  }
}

.features {
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;

  &__title {
    @include accenttext;
    @include respond(tab-port) {
      margin-bottom: $small;
    }
  }

  @include respond(tab-port) {
    flex: 50%;
  }

  @include respond(phone) {
    order: 2;
  }
}

.details {
  flex: 0 0 50%;

  @include respond(tab-port) {
    flex: 50%;
    margin-left: $small;
  }

  @include respond(phone) {
    order: 1;
    margin-left: 0;
  }

  &__title {
    @include accenttext;
    @include respond(tab-port) {
      margin-bottom: $small;
    }
  }
}

.icons {
  display: flex;
  justify-content: space-around;
  margin-right: 25rem;
  padding: $smaller 0;
  border-bottom: $border-dark-blue;

  @include respond(tab-port) {
    display: none;
  }

  &__box {
    flex: 0 0 33.33333%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--icon {
      width: 25%;
      margin-bottom: $smallest;
    }

    &--text {
      text-align: center;
      padding: 0 4.5rem;
      color: $color-dark-blue;
      font-weight: 600;
    }
  }
}

.iconsmob {
  display: none;
  justify-content: space-around;
  margin-right: 25rem;
  padding: $smaller 0;
  border-bottom: $border-dark-blue;

  @include respond(tab-port) {
    display: flex;
    margin-right: 0;
    padding: 1rem 5rem;
  }

  @include respond(phone) {
    margin: 0 1.5rem;
    border-top: $border-dark-blue;
    padding: 2rem 0;
  }

  &__box {
    flex: 0 0 33.33333%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tab-port) {
      padding: 0 2rem;
    }

    @include respond(phone) {
      padding: 0 1rem;
    }

    &--icon {
      width: 25%;
      margin-bottom: $smallest;
    }

    &--text {
      text-align: center;
      padding: 0 4.5rem;
      color: $color-dark-blue;
      font-weight: 600;

      @include respond(phone) {
        padding: 0 3rem;
      }
    }
  }
}

.for {
  display: flex;
  border-bottom: $border-dark-blue;
  padding: $medium $medium $fifty 0;
  justify-content: space-between;

  @include respond(phone) {
    padding: $fifty 0;
    flex-direction: column;
    margin: 0 1.5rem;
  }

  &__box {
    display: flex;
    flex: 0 0 33.3333%;
    padding: 1.5rem;

    @include respond(tab-port) {
      flex-direction: column;
    }

    @include respond(phone) {
      flex-direction: row;
      padding: 0;
    }

    &:not(:last-child) {
      border-right: 3px solid rgba($color-accent, 0.2);

      @include respond(phone) {
        border-right: none;
        border-bottom: 3px solid rgba($color-accent, 0.2);
        padding-bottom: $smaller;
      }
    }

    &:not(:first-child) {
      @include respond(phone) {
        margin-top: $smaller;
      }
    }
  }
}

.faqs {
  margin-top: $big;
  display: flex;
  flex-direction: column;
  //align-items: center;
  transition: all 0.2s;

  @include respond(phone) {
    margin-top: $fifty;
  }

  &__title {
    align-self: center;

    &--name {
      text-transform: uppercase;
      color: $color-dark-blue;
      font-size: 3.2rem;
      font-weight: 700;
    }
  }

  &__content {
    margin-top: 2rem;
    display: flex;

    @include respond(tab-port) {
      margin-top: $medium;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__contentmob {
    display: none;

    @include respond(phone) {
      display: flex;
      flex-direction: column;
    }

    &--title {
      @include respond(phone) {
        text-transform: uppercase;
        color: rgba($color-accent, 0.8);
        font-size: 2.2rem;
        font-weight: 700;
        text-align: center;
        padding: $medium 0;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1 1 33.333333%;

    // & button.active {
    //   border-bottom: 3px solid $color-blue;
    //   margin-right: auto;

    // }
  }

  &__description {
    flex: 1 1 66.666667%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-left: $border-dark-blue;
    padding-left: 10rem;
  }
}

.third-section {
  display: flex;
  flex-direction: column;
}

.customers {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: $medium 20rem $medium 20rem;
  background-color: $color-grey;
  border-bottom: $border-dark-blue;

  @include respond(phone) {
    padding: $small 1.5rem;
  }

  &__title {
    align-self: center;
    @include accenttext;
    margin-bottom: $small;
    align-content: center;

    @include respond(phone) {
      width: 20rem;
      text-align: center;
      letter-spacing: 0.2rem;
    }
  }

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--box {
      flex: 0 0 10%;

      @include respond(tab-port) {
        flex: 1 1 100%;
      }

      @include respond(phone) {
        width: 20rem;
        flex-wrap: wrap;
      }
    }

    &--box img {
      width: 100%;
    }
  }
}

.happiness {
  padding: $big 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid $color-white;

  @include respond(tab-port) {
    padding: $fifty 0;
  }

  &__logo {
    border: 3px solid $color-white;
    border-radius: 50%;
    display: flex;
    height: auto;
    padding: 1.5rem;
    width: 7%;

    @include respond(phone) {
      width: 20%;
    }

    &--icon {
      width: 100%;
      height: 100%;
    }
  }

  &__description {
    padding-top: $medium;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(phone) {
      display: none;
    }

    @include respond(phone) {
      padding-top: $small;
    }

    h3 {
      color: $color-white;
      margin-bottom: $smaller;
      font-size: 1.8rem;
      font-weight: 700;
      letter-spacing: 0.5rem;

      @include respond(phone) {
        text-align: center;
        width: 20rem;
      }
    }

    p {
      color: $color-white;
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
      text-align: center;
    }
  }

  &__descriptionmob {
    display: none;

    @include respond(phone) {
      display: flex;
      padding-top: $small;
      flex-direction: column;
      align-items: center;

      h3 {
        color: $color-white;
        margin-bottom: $smaller;
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 0.5rem;

        @include respond(phone) {
          text-align: center;
          width: 20rem;
        }
      }

      p {
        color: $color-white;
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
        text-align: center;

        @include respond(phone) {
          width: 30rem;
        }
      }
    }
  }
}

.sign-up {
  padding: $medium 20rem $medium 20rem;
  display: flex;
  justify-content: space-between;
  background-color: $color-dark-blue;

  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  @include respond(phone) {
    padding: $small 0;
  }

  &__form {
    flex: 0 0 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: $small;
    }

    input {
      background-color: $color-dark-blue;
      border: 3px solid $color-white;
      border-radius: 1rem;
      flex: 0 1 60%;
      padding: 2rem;
      font-size: 1.4rem;
      outline: none;

      @include respond(tab-port) {
        margin-bottom: $smaller;
        font-weight: 600;
        width: 30rem;
      }

      &::placeholder {
        color: $color-white;
      }
    }

    button {
      flex: 0 0 35%;
    }
  }

  &__legal {
    display: flex;
    flex: 0 0 45%;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.4rem;

    a:link,
    a:visited {
      color: $color-white;
      text-decoration: none;
    }

    p {
      color: $color-white;
      margin-right: 2rem;
    }
  }
}

.whiteborder {
  display: block;
  height: 6rem;
  width: 100%;
  background-color: #fff;
}
