@mixin accenttext {
  font-size: 1.8rem;
  font-weight: 600;
  color: $color-accent;
  margin-bottom: $medium;
}

@mixin h3heading {
  color: $color-dark-blue;
    margin-bottom: $smallest;
    font-size: 1.4rem;
    font-weight: 600;
}

@mixin h3description {
  color: $color-dark-blue;
    font-size: 1.4rem;
    font-weight: 400;
}


@mixin respond($breakpoint) {
  @if $breakpoint == phone {
      @media only screen and (max-width: 48em) { @content };    //768px
  }
  @if $breakpoint == tab-port {
      @media only screen and (max-width: 75em) { @content };    //1200px
  }
  
  
}