$default-font-size: 16px;

$shadow-color:            rgba(179, 141, 120, 1);

$color-primary:           rgba(214, 179, 159, 1);
$color-blue:              rgba(58, 118, 254, 1);
$color-dark-blue:         rgba(0, 33, 74, 1);
$color-dark-blue-light:   rgb(33, 106, 196);
$color-grey:              rgba(239, 243, 245, 1);
$color-white:             #fff;
$color-accent:            rgba(178, 186, 191, 1);

$border-white:            .2rem solid $color-white;
$border-dark-blue:        .3rem solid $color-dark-blue;
$border-dark-blue-light:  .1rem solid $color-dark-blue;

$bp-tab:                   75em;                /// 1200px
$bp-phone:                 48em;                /// 768px
$bp-1500:                  93.75em;             /// 1500px
$bp-1300:                  81.25em;             /// 1300px


$big:                      7rem;                /// 70px
$fifty:                    5rem;                /// 50px
$medium:                   4rem;                /// 40px
$small:                    3rem;                /// 30px
$smaller:                  2rem;                /// 20px
$smallest:                 1rem;                /// 10px